<nav-directive></nav-directive>
<h1 class="text-xs-center">Register</h1>

<div class="container">
    <form name="userForm">
        <div class="row">
            <div class="col-xs-12 text-xs-left"><span><small>User Type (choose one or all): </small></span>
                <div class="form-group">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" ng-model="user.visitor" type="checkbox" value="visitor"><small>Visitor</small></label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" ng-model="user.visitee" type="checkbox" value="visitee"><small>Visitee</small></label>
                    </div>
                    <!-- <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value=""><small>Advocate</small></label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value=""><small>Member</small></label>
                    </div> -->
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" ng-model="user.admin" ng-checked="false" type="hidden" value="admin"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label>First Name</label>
                <input type="text" class="form-control" placeholder="First" required ng-model="user.first_name">
            </div>
            <div class="col-xs-4">
                <label>Last Name</label>
                <input type="text" class="form-control" placeholder="Last" required ng-model="user.last_name" />
            </div>
            <div class="col-xs-4">
                <label>Phone</label>
                <input type="tel" class="form-control" placeholder="Phone" ng-model="user.phone" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Address</label>
                <input type="text" class="form-control" placeholder="Address" ng-model="user.address" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label>City</label>
                <input type="text" class="form-control" placeholder="City" ng-model="user.city" />
            </div>
            <div class="col-xs-4">
                <label>State</label>
                <input type="text" class="form-control" placeholder="State" ng-model="user.state" />
            </div>
            <div class="col-xs-4">
                <label>Zip</label>
                <input type="text" class="form-control" placeholder="Zip" ng-model="user.zip" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Email</label>
                <input name="email" type="email" class="form-control" required placeholder="Email" ng-class="{ 'has-error': userForm.email.$invalid }" ng-model="user.email" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Username (can be email)</label>
                <input type="text" class="form-control" required placeholder="Username" ng-model="user.username" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="user.password">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-4">
                <button ng-click="register(user)" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <br>
    </form>
</div>
