<nav-directive></nav-directive>
<div class="container">
    <form>
        <div class="row">
            <div class="col-xs-12">
                <h4>Add User</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-xs-left"><span><small>User Type (choose one or all): </small></span>
                <div class="form-group">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value=""><small>Visitor</small></label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value=""><small>Visitee</small></label>
                    </div>
                    <!-- <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value=""><small>Advocate</small></label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value=""><small>Member</small></label>
                    </div> -->
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value=""><small>Admin</small></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label>First Name</label>
                <input type="text" class="form-control" placeholder="First" required="" ng-model="user.first">
            </div>
            <div class="col-xs-4">
                <label>Last Name</label>
                <input type="text" class="form-control" placeholder="Last" required="" ng-model="user.last" />
            </div>
            <div class="col-xs-4">
                <label>Phone</label>
                <input type="text" class="form-control" placeholder="Phone" ng-model="user.phone" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Address</label>
                <input type="text" class="form-control" placeholder="Address" ng-model="user.address" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label>City</label>
                <input type="text" class="form-control" placeholder="City" ng-model="user.city" />
            </div>
            <div class="col-xs-4">
                <label>State</label>
                <input type="text" class="form-control" placeholder="State" ng-model="user.state" />
            </div>
            <div class="col-xs-4">
                <label>Zip</label>
                <input type="text" class="form-control" placeholder="Zip" ng-model="user.zip" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Email" ng-model="user.email" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Username (can be email)</label>
                <input type="text" class="form-control" placeholder="Username" ng-model="user.username" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" ng-model="user.password">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <br>
    </form>
</div>
