<nav-directive></nav-directive>
<h1 class="text-xs-center">Admin Teams</h1>

<p class="text-xs-center">
    <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#myTeamCollapse" aria-expanded="false" aria-controls="myTeamCollapse">
        My Teams
    </button> -->
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#allTeamsCollapse" aria-expanded="false" aria-controls="allTeamsCollapse">
        All Teams
    </button>
    <button class="btn btn-primary" ng-click="addTeamModal(team)">
        Add Team
    </button>
</p>

<section class="adminTeam">

    <div class="collapse in" id="allTeamsCollapse">
        <div class="card card-block">
            <div class="text-xs-right">
                <label><strong>Search Teams:</strong></label>
                <input type="text" class="bg-primary" placeholder="type search term here" ng-model="teamText" />
            </div>
            <h3 class="card-header">All Teams</h3>
            <div class="card card-outline-primary" ng-repeat="team in teams | filter:teamText | orderBy:'team.team_leader'">
                <div class="card-block">
                    <ul class="list-unstyled">
                        <li>
                            <h4 class="card-title">{{team.team_name}}</h4>
                            <p class="card-text">
                                <h5>Team Leader: {{team.team_leader}}</h5>
                                <h5>Team Second: {{team.team_second}}</h5><br>
                                <!-- <p>Next Visit: date as link here</p> -->
                                <!-- <p>{{team}}</p> -->
                                <p>
                                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{team.team_id}}adminCollapse" aria-expanded="false" aria-controls="{{team.team_id}}adminCollapse">
                                        Members
                                    </button>
                                    <button class="btn btn-success pull-xs-right" ng-click="editTeamModal(team)">
                                        Edit Team
                                    </button>
                                </p>
                            </p>
                            <div class="collapse" id="{{team.team_id}}adminCollapse">
                                <div class="card card-block">
                                    <ul>
                                        <li><small>{{team.members}}</small></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>
