<div class="card card-block card-outline-primary">
    <h3 class="card-header bg-inverse" style="color:white">Add Team<button class="btn btn-primary pull-xs-right" type="button" ng-click="closeAddModal()">Close</button></h3>
    <div class="container">
        <form>
            <div class="row">
                <div class="col-xs-12">
                    <label>Team Name</label>
                    <input type="text" class="form-control" placeholder="Team Name" ng-model="team.team_name" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label>Team Leader</label>
                    <br>
                    <select ng-options="user as user.last_name for user in users track by user.user_id" ng-model="team.team_leader"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label>Team Second</label>
                    <br>
                    <select ng-options="user as user.last_name for user in users track by user.user_id" ng-model="team.team_second"></select>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-xs-12">
                    <label>Team Member</label>
                    <input type="text" class="form-control" placeholder="Team Member" ng-model="team.member" />
                </div>
            </div> -->
            <!-- <div class="row">
            <div class="col-xs-12">
                <label>Visitor Name(s)</label>
                <br>
                <select class="visitor-select">
                    <option selected>Select one or more visitors</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div> -->
            <br>
            <button type="submit" class="btn btn-success" ng-click="addTeam(team)">Submit</button>
        </form>
    </div>
</div>
