<div class="card card-block card-outline-primary">
    <h3 class="card-header bg-inverse" style="color:white">Edit Visit<button class="btn btn-primary pull-xs-right" type="button" ng-click="closeModal()">Close</button></h3>
    <div class="container">
        <form>
            <div class="form-group">
                <br>{{visit.visit_date | date:"MM/dd/y"}}
                <div class="row">
                    <div class="col-xs-12">
                        <h4>{{visit.visitee_fullname}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label for="date-input">Date and Time</label>
                        <input class="form-control" type="datetime-local" ng-model="visit.visit_date" placeholder="{{visit.visit_date | date:" MM/dd/y "}}" value="{{visit.visit_date | date:" MM/dd/y "}}" id="date-input">
                    </div>
                </div>
                <div class="row">
                <div class="col-xs-12">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" ng-checked="{{visit.impromptu}}" ng-model="visit.impromptu"><small>Impromptu (unscheduled)</small></label>
                    </div>
                </div>
              </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label for="contacted-input">Contacted</label>
                        <input class="form-control" type="datetime-local" ng-model="visit.contacted" value="{{visit.visit_date | date:" MM/dd/y "}}" id="contacted-input">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                        <label for="confirmed-input">Confirmed</label>
                        <input class="form-control" type="datetime-local" ng-model="visit.confirmed" value="{{visit.visit_date | date:" MM/dd/y "}}" id="confirmed-input">
                    </div>
                </div>

                <br>
                <button ng-click="closeModal()" class="btn btn-success">Submit</button>
                <button class="btn btn-danger pull-xs-right" ng-click="deleteVisit(visit)">Delete Visit</button>
        </form>
        </div>
    </div>
</div>
