<nav-directive></nav-directive>
<h1 class="text-xs-center">Admin Visits</h1>

<p class="text-xs-center">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#myVisitCollapse" aria-expanded="false" aria-controls="myVisitCollapse">
        My Visits
    </button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#allVisitsCollapse" aria-expanded="false" aria-controls="allVisitsCollapse">
        All Visits
    </button>
    <button class="btn btn-primary" type="button" ng-click="addVisitModal()">
        Add Visit
    </button>
</p>

<section class="adminVisits">

    <div class="collapse" id="myVisitCollapse">
      <div class="card card-block">
          <div class="text-xs-right">
              <label><strong>Search Visits:</strong></label>
              <input type="text" class="bg-primary" placeholder="type search term here" ng-model="visitText" />
          </div>
          <h3 class="card-header">My Visits</h3>
          <div class="card card-outline-primary" ng-repeat="visit in visits | filter:visitText | orderBy:''">

              <div class="card-block">
                  <ul class="list-unstyled">
                      <li>
                        <h4 class="card-title">Visit to: {{visit.visitee_fullName}}</h4>
                        <p class="card-text">
                            <h5>Visit Date: {{visit.visit_date}} - {{visit.visit_time}}</h5>
                            <p>contacted on: {{visit.contacted}}</p>
                            <p>confirmed on: {{visit.confirmed}}</p>
                            <p>cancelled on: {{visit.cancelled}}</p>
                            <p>
                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{visit.id}}Collapse" aria-expanded="false" aria-controls="{{visit.id}}Collapse">
                                    Visitors
                                </button>
                                <button class="btn btn-success pull-xs-right" ng-click="editVisitModal(visit)">
                                    Edit Visit
                                </button>
                            </p>
                        </p>
                        <div class="collapse" id="{{visit.id}}Collapse">
                            <div class="card card-block">
                                <ul>
                                    <li ng-repeat="visitor in visitors"><small>{{name}}</small></li>
                                </ul>
                            </div>
                        </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
    </div>

    <div class="collapse in" id="allVisitsCollapse">
      <div class="card card-block">
          <div class="text-xs-right">
              <label><strong>Search Visits:</strong></label>
              <input type="text" class="bg-primary" placeholder="type search term here" ng-model="visitAllText" />
          </div>
          <h3 class="card-header">All Visits</h3>
          <div class="card card-outline-primary" ng-repeat="visitAll in allVisits | filter:visitAllText | orderBy:''">

              <div class="card-block">
                  <ul class="list-unstyled">
                      <li>
                        <h4 class="card-title">Visit to: {{visitAll.visitee_fullName}}</h4>
                        <p class="card-text">
                            <h5>Visit Date: {{visitAll.visit_date}} - {{visitAll.visit_time}}</h5>
                            <p>contacted on: {{visitAll.contacted}}</p>
                            <p>confirmed on: {{visitAll.confirmed}}</p>
                            <p>cancelled on: {{visitAll.cancelled}}</p>
                            <p>
                              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{visitAll.id}}Collapse" aria-expanded="false" aria-controls="{{visitAll.id}}Collapse">
                                  Visitors
                              </button>
                                <button class="btn btn-success pull-xs-right" ng-click="editVisitModal(visit)">
                                  Edit Visit
                                </button>
                            </p>
                        </p>
                        <div class="collapse" id="{{visitAll.id}}Collapse">
                            <div class="card card-block">
                                <ul>
                                    <li ng-repeat="visitor in visitors"><small>{{name}}</small></li>
                                </ul>
                            </div>
                        </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
    </div>

</section>
