<div class="card card-block card-outline-primary">
    <h3 class="card-header bg-inverse" style="color:white">Add Visit<button class="btn btn-primary pull-xs-right" type="button" ng-click="closeModal()">Close</button></h3>
    <div class="container">
        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                      <br>
                        <h4 class="white-heading">{{visit.first_name}} {{visit.last_name}}</h4>
                        <input type="hidden" value="visit.visitee_id" ng-model="visit.visitee_id">
                    </div>
                </div>
                <div class="row"><br>
                    <div class="col-xs-12">
                        <label for="date-input">Date and Time</label>
                        <input class="form-control" type="datetime-local" ng-model="visit.visit_date" id="date-input">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" ng-checked="{{visit.impromptu}}" ng-model="visit.impromptu"><small>Impromptu (unscheduled)</small></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label for="contacted-input">Contacted</label>
                        <input class="form-control" type="datetime-local" ng-model="visit.contacted" id="contacted-input">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label for="confirmed-input">Confirmed</label>
                        <input class="form-control" type="datetime-local" ng-model="visit.confirmed" id="confirmed-input">
                    </div>
                </div>
                <br>
                <button ng-click="addVisit(visit)" class="btn btn-success">Submit</button>
        </form>
        </div>
    </div>
</div>
