<nav-directive></nav-directive>
<h1 class="text-xs-center">Visitees</h1>

<p class="text-xs-center">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#visiteesCollapse" aria-expanded="false" aria-controls="visiteesCollapse">
        All Visitees
    </button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#teamVisiteesCollapse" aria-expanded="false" aria-controls="teamVisiteesCollapse">
        My Team's Visitees
    </button>
</p>

<section class="visitees">

  <div class="collapse" id="visiteesCollapse">
      <div class="card card-block">
          <div class="text-xs-right">
              <label><strong>Search Visitees:</strong></label>
              <input type="text" placeholder="type search term here" ng-model="visiteeText" />
          </div>
          <h3 class="card-header">All Visitees</h3>
          <div class="card card-outline-primary" ng-repeat="visitee in visitees | filter:visiteeText | orderBy:'visitee.last_name'">
              <div class="card-block">
                  <ul class="list-unstyled">
                      <li>
                          <span class="card-title"><h4>{{visitee.first_name}} {{visitee.last_name}}</h4><small>(username: {{visitee.username}})</small></span>
                          <p class="card-text">
                              <p>{{visitee.address}}
                              <br>{{visitee.city}}, {{visitee.state}} {{visitee.zip}}
                              <br><a href="http://maps.google.com/?q={{visitee.address}}%20{{visitee.city}}%20{{visitee.state}}%20{{visitee.zip}}" target="_blank"><small>Google map</small></a>
                              </p>
                              <p>Phone: <a href="tel:{{visitee.phone}}">{{visitee.phone}}</a>
                                <br>Email: <a href="mailto:{{visitee.email}}">{{visitee.email}}</a>
                              </p>

                              <!-- <p>
                                <span>Admin: {{visitee.admin}}</span><br>
                                <span>Visitor: {{visitee.visitor}}</span><br>
                                <span>Visitee: {{visitee.visitee}}</span><br>
                              <p> -->
                                <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{visitee.id}}teamsCollapse" aria-expanded="false" aria-controls="{{visitee.id}}teamsCollapse">
                                    Visiting Teams
                                </button> -->
                                <button class="btn btn-success pull-xs-right" ng-click="addVisitModal(visitee)">
                                    Add Visit
                                </button>
                              </p>
                          <!-- </p>
                          <div class="collapse" id="{{visitee.id}}adminCollapse">
                              <div class="card card-block">
                                  <ul>
                                      <li ng-repeat="team in teams"><small>{{team.team_name}}</small></li>
                                  </ul>
                              </div>
                          </div> -->
                      </li>
                  </ul>
              </div>
          </div>
      </div>

  </div>

  <div class="collapse" id="teamVisiteesCollapse">
      <div class="card card-block">
          <div class="text-xs-right">
              <label><strong>Search Visitees:</strong></label>
              <input type="text" placeholder="type search term here" ng-model="userTeamText" />
          </div>
          <h3 class="card-header">My Team's Visitees</h3>
          <div class="card card-outline-primary" ng-repeat="userTeam in userTeams | filter:userTeamText | orderBy:'userTeam.last_name'">
              <div class="card-block">
                  <ul class="list-unstyled">
                      <li>
                          <span class="card-title"><h4>{{userTeam.first_name}} {{userTeam.last_name}}</h4><small>(username: {{userTeam.username}})</small></span>
                          <p class="card-text">
                              <p>{{userTeam.address}}
                              <br>{{userTeam.city}}, {{userTeam.state}} {{userTeam.zip}}
                              <br><a href="http://maps.google.com/?q={{userTeam.address}}%20{{userTeam.city}}%20{{userTeam.state}}%20{{userTeam.zip}}" target="_blank"><small>Google map</small></a>
                              </p>
                              <p>Phone: <a href="tel:{{userTeam.phone}}">{{userTeam.phone}}</a>
                                <br>Email: <a href="mailto:{{userTeam.email}}">{{userTeam.email}}</a>
                              </p>

                              <!-- <p>
                                <span>Admin: {{userTeam.admin}}</span><br>
                                <span>Visitor: {{userTeam.visitor}}</span><br>
                                <span>Visitee: {{userTeam.visitee}}</span><br>
                              <p> -->
                                <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{userTeam.id}}teamsCollapse" aria-expanded="false" aria-controls="{{userTeam.id}}teamsCollapse">
                                    Visiting Teams
                                </button> -->
                                <button class="btn btn-success pull-xs-right" ng-click="addVisitModal(user)">
                                    Add Visit
                                </button>
                              </p>
                          <!-- </p>
                          <div class="collapse" id="{{userTeam.id}}adminCollapse">
                              <div class="card card-block">
                                  <ul>
                                      <li ng-repeat="team in teams"><small>{{team.team_name}}</small></li>
                                  </ul>
                              </div>
                          </div> -->
                      </li>
                  </ul>
              </div>
          </div>
      </div>

  </div>

</section>

<div id="visitees"></div>
