<div class="card card-block card-outline-primary">
    <h3 class="card-header bg-inverse" style="color:white">Edit My Info<button class="btn btn-primary pull-xs-right" type="button" ng-click="closeModal()">Close</button></h3>
    <div class="container">
        <form>
            <div class="row">
                <div class="col-xs-12 text-xs-left"><span><small>User Type (choose one or all): </small></span>
                    <div class="form-group">
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" ng-checked="{{user.visitor}}" ng-model="user.visitor"><small>Visitor</small></label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" ng-checked="{{user.visitee}}" ng-model="user.visitee"><small>Visitee</small></label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" ng-checked="{{user.admin}}" ng-model="user.admin"><small>Admin</small></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <label>First</label>
                    <input type="text" class="form-control" placeholder="First" required="" value="{{user.first_name}}" ng-model="user.first_name">
                </div>
                <div class="col-xs-4">
                    <label>Last</label>
                    <input type="text" class="form-control" placeholder="Last" required="" value="{{user.last_name}}" ng-model="user.last_name" />
                </div>
                <div class="col-xs-4">
                    <label>Phone</label>
                    <input type="text" class="form-control" placeholder="Phone" value="{{user.phone}}" ng-model="user.phone" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label>Address</label>
                    <input type="text" class="form-control" placeholder="Address" value="{{user.address}}" ng-model="user.address" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <label>City</label>
                    <input type="text" class="form-control" placeholder="City" value="{{user.city}}" ng-model="user.city" />
                </div>
                <div class="col-xs-4">
                    <label>State</label>
                    <input type="text" class="form-control" placeholder="State" value="{{user.state}}" ng-model="user.state" />
                </div>
                <div class="col-xs-4">
                    <label>Zip</label>
                    <input type="text" class="form-control" placeholder="Zip" value="{{user.zip}}" ng-model="user.zip" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label>Email</label>
                    <input type="text" class="form-control" placeholder="Email" value="{{user.email}}" ng-model="user.email" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label>Username (can be email)</label>
                    <input type="text" class="form-control" placeholder="Username" value"{{user.username}}" ng-model="user.username" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label>Password</label>
                    <input type="password" autocomplete="off" id="inputPassword" class="form-control" placeholder="Password" required="" ng-model="user.password">
                </div>
            </div>
            <br>
            <button ng-click="editUser(user)" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>
