<nav-directive></nav-directive>
<h1 class="text-xs-center">My Info</h1>

<p class="text-xs-center">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#myInfoCollapse" aria-expanded="false" aria-controls="myInfoCollapse">
        My Info
    </button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#editInfoCollapse" aria-expanded="false" aria-controls="editInfoCollapse">
        Edit My Info
    </button>
</p>

<section class="myInfo">

<div class="collapse" id="editInfoCollapse">
  <div class="card card-block card-outline-primary">
      <h3 class="card-header bg-inverse" style="color:white">Edit My Info</h3>
      <div class="container">
          <form>
              <div class="row">
                  <div class="col-xs-12 text-xs-left"><span><small>User Type (choose one or all): </small></span>
                      <div class="form-group">
                          <div class="form-check-inline">
                              <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" ng-checked="{{user.visitor}}" ng-model="user.visitor"><small>Visitor</small></label>
                          </div>
                          <div class="form-check-inline">
                              <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" ng-checked="{{user.visitee}}" ng-model="user.visitee"><small>Visitee</small></label>
                          </div>
                          <div class="form-check-inline">
                              <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" ng-checked="{{user.admin}}" ng-model="user.admin"><small>Admin</small></label>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-4">
                      <label>First</label>
                      <input type="text" class="form-control" placeholder="First" required="" value="{{user.first_name}}" ng-model="user.first_name">
                  </div>
                  <div class="col-xs-4">
                      <label>Last</label>
                      <input type="text" class="form-control" placeholder="Last" required="" value="{{user.last_name}}" ng-model="user.last_name" />
                  </div>
                  <div class="col-xs-4">
                      <label>Phone</label>
                      <input type="text" class="form-control" placeholder="Phone" value="{{user.phone}}" ng-model="user.phone" />
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-12">
                      <label>Address</label>
                      <input type="text" class="form-control" placeholder="Address" value="{{user.address}}" ng-model="user.address" />
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-4">
                      <label>City</label>
                      <input type="text" class="form-control" placeholder="City" value="{{user.city}}" ng-model="user.city" />
                  </div>
                  <div class="col-xs-4">
                      <label>State</label>
                      <input type="text" class="form-control" placeholder="State" value="{{user.state}}" ng-model="user.state" />
                  </div>
                  <div class="col-xs-4">
                      <label>Zip</label>
                      <input type="text" class="form-control" placeholder="Zip" value="{{user.zip}}" ng-model="user.zip" />
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-12">
                      <label>Email</label>
                      <input type="text" class="form-control" placeholder="Email" value="{{user.email}}" ng-model="user.email" />
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-12">
                      <label>Username (can be email)</label>
                      <input type="text" class="form-control" placeholder="Username" value"{{user.username}}" ng-model="user.username" />
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-12">
                      <label>Password</label>
                      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" value"{{user.password}}" ng-model="user.password">
                  </div>
              </div>
              <br>
              <button ng-click="editUser(user)" class="btn btn-success">Submit</button>
              <button class="btn btn-primary pull-xs-right" type="button" data-toggle="collapse" data-target="#editInfoCollapse" aria-expanded="false" aria-controls="editInfoCollapse">
                  Close
              </button>
          </form>
      </div>
  </div>

</div>

<div class="collapse in" id="myInfoCollapse">
  <div class="card card-block">
      <!-- <h3 class="card-header">My Info</h3> -->{{test}} {{myInfo.user_id}}
      <div class="card card-outline-primary">
          <div class="card-block">
              <ul class="list-unstyled">
                  <li>
                      <span class="card-title"><h4>{{user.first_name}} {{user.last_name}}</h4><small>(username: {{user.username}})</small></span>
                      <p class="card-text">
                          <p>{{user.address}}
                          <br>{{user.city}}, {{user.state}} {{user.zip}}
                          <br><a href="http://maps.google.com/?q={{user.address}}%20{{user.city}}%20{{user.state}}%20{{user.zip}}" target="_blank"><small>Google map</small></a>
                          </p>
                          <p>Phone: <a href="tel:{{user.phone}}">{{user.phone}}</a>
                            <br>Email: <a href="mailto:{{user.email}}">{{user.email}}</a>
                          </p>

                          <p>
                            <div class="form-group">
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" ng-checked="{{user.visitor}}" disabled="true"><small>Visitor</small></label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" ng-checked="{{user.visitee}}" disabled="true"><small>Visitee</small></label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" ng-checked="{{user.admin}}" disabled="true"><small>Admin</small></label>
                                </div>
                            </div>
                            <!-- <i class="fa fa-check" aria-hidden="true"></i><small>Visitor</small>&nbsp;
                            <i class="fa fa-check" aria-hidden="true"></i><small>Visitee</small>&nbsp;
                            <i class="fa fa-check" aria-hidden="true"></i><small>Admin</small>&nbsp; -->
                          <p>
                              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{user.id}}myTeamsCollapse" aria-expanded="false" aria-controls="{{user.id}}myTeamsCollapse">
                                  Teams
                              </button>
                          </p>
                      </p>
                      <div class="collapse" id="{{user.id}}myTeamsCollapse">
                          <div class="card card-block">
                              <ul>
                                  <li ng-repeat="team in teams"><small>{{team.team_name}}</small></li>
                              </ul>
                          </div>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </div>

</div>

</section>
