<nav-directive></nav-directive>
<h1 class="text-xs-center">My Info</h1>

<p class="text-xs-center">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#myInfoCollapse" aria-expanded="false" aria-controls="myInfoCollapse">
        My Info
    </button>
    <button class="btn btn-primary" type="button" ng-click="editUserModal(user)">
        Edit My Info
    </button>
</p>

<section class="myInfo">

<div class="collapse in" id="myInfoCollapse">
  <div class="card card-block">
      <!-- <h3 class="card-header">My Info</h3> -->{{test}} {{myInfo.user_id}}
      <div class="card card-outline-primary">
          <div class="card-block">
              <ul class="list-unstyled">
                  <li>
                      <span class="card-title"><h4>{{user.first_name}} {{user.last_name}}</h4><small>(username: {{user.username}})</small></span>
                      <p class="card-text">
                          <p>{{user.address}}
                          <br>{{user.city}}, {{user.state}} {{user.zip}}
                          <br><a href="http://maps.google.com/?q={{user.address}}%20{{user.city}}%20{{user.state}}%20{{user.zip}}" target="_blank"><small>Google map</small></a>
                          </p>
                          <p>Phone: <a href="tel:{{user.phone}}">{{user.phone}}</a>
                            <br>Email: <a href="mailto:{{user.email}}">{{user.email}}</a>
                          </p>

                          <p>
                            <span>Admin: {{user.admin}}</span><br>
                            <span>Visitor: {{user.visitor}}</span><br>
                            <span>Visitee: {{user.visitee}}</span><br>
                            <!-- <i class="fa fa-check" aria-hidden="true"></i><small>Visitor</small>&nbsp;
                            <i class="fa fa-check" aria-hidden="true"></i><small>Visitee</small>&nbsp;
                            <i class="fa fa-check" aria-hidden="true"></i><small>Admin</small>&nbsp; -->
                          <p>
                              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{user.id}}myTeamsCollapse" aria-expanded="false" aria-controls="{{user.id}}myTeamsCollapse">
                                  Teams
                              </button>
                          </p>
                      </p>
                      <div class="collapse" id="{{user.id}}myTeamsCollapse">
                          <div class="card card-block">
                              <ul>
                                  <li ng-repeat="team in teams"><small>{{team.team_name}}</small></li>
                              </ul>
                          </div>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </div>

</div>

</section>
