<nav-directive></nav-directive>
<h1 class="text-xs-center">My Availability</h1>

<p class="text-xs-center">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#myAvailabilityCollapse" aria-expanded="false" aria-controls="myAvailabilityCollapse">
        My Availability
    </button>
    <button class="btn btn-primary" type="button" ng-click="addAvailModal()">
        Set Availability
    </button>
</p>

<section class="myVisits">

    <div class="collapse" id="myAvailabilityCollapse">
      <div class="card card-block">
          <div class="card card-outline-primary">
              <div class="card-block">
                  <ul class="list-unstyled">
                    <li>
                        <p class="card-text">
                            <h5>Available Start:</h5>
                            <p>{{availability.available_start | date:"MMM d, y 'at' h:mma"}}</p>
                            <h5>Available End:</h5>
                            <p>{{availability.available_end | date:"MMM d, y 'at' h:mma"}}</p>
                            <p>
                              <button class="btn btn-primary pull-xs-right" type="button" data-toggle="collapse" data-target="#myAvailabilityCollapse" aria-expanded="false" aria-controls="myAvailabilityCollapse">
                                  Close
                              </button>
                            </p>
                        </p>
                    </li>
                  </ul>
              </div>
          </div>
      </div>
    </div>
</section>

<div id="myAvailImage"></div>
