<nav-directive></nav-directive>
<h1>My availability</h1>
<h4>My Visitor Availability</h4>
<p>Start (un)availability, End (un)availability</p>
<h4>My Visitee Availability</h4>
<p>Start (un)availability, End (un)availability</p>
<p>default always available. User can mark unavailable range, or available range BUT NOT both</p>

<div class="container">
    <form>
        <fieldset class="form-group">
            <div class="row">
                <div class="col-xs-12">

                    <legend>Availability</legend>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Choose to indicate Availabilty:
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Choose to indicate Unavailability:
                        </label>
                    </div>

                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <label for="begin-input">Start Date (time optional)</label>
                    <input class="form-control" type="datetime-local" value="mm/dd/yyyy, 03:45 PM" id="begin-input">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label for="end-input">End Date (time optional)</label>
                    <input class="form-control" type="datetime-local" value="mm/dd/yyyy, 03:45 PM" id="end-input">
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
