<nav-directive></nav-directive>
<h1 class="text-xs-center">Admin Users</h1>


<p class="text-xs-center">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#allUsersCollapse" aria-expanded="false" aria-controls="allUsersCollapse">
        All Users
    </button>
    <button class="btn btn-primary" type="button" ng-click="addUserModal()">
        Add Users
    </button>
</p>

<section class="adminUsers">

    <div class="collapse in" id="allUsersCollapse">
        <div class="card card-block">
            <div class="text-xs-right">
                <label><strong>Search Users:</strong></label>
                <input type="text" class="bg-primary" placeholder="type search term here" ng-model="userText" />
            </div>
            <h3 class="card-header">All Users</h3>
            <div class="card card-outline-primary" ng-repeat="user in users | filter:userText | orderBy:'user.last_name'">
                <div class="card-block">
                    <ul class="list-unstyled">
                        <li>
                            <span class="card-title"><h4>{{user.first_name}} {{user.last_name}}</h4><small>(username: {{user.username}})</small></span>
                            <p class="card-text">
                                <p>{{user.address}}
                                <br>{{user.city}}, {{user.state}} {{user.zip}}
                                <br><a href="http://maps.google.com/?q={{user.address}}%20{{user.city}}%20{{user.state}}%20{{user.zip}}" target="_blank"><small>Google map</small></a>
                                </p>
                                <p>Phone: <a href="tel:{{user.phone}}">{{user.phone}}</a>
                                  <br>Email: <a href="mailto:{{user.email}}">{{user.email}}</a>
                                </p>

                                <p>
                                  <div class="form-group">
                                      <div class="form-check-inline">
                                          <label class="form-check-label">
                                              <input class="form-check-input" type="checkbox" ng-checked="{{user.visitor}}" disabled="true"><small>Visitor</small></label>
                                      </div>
                                      <div class="form-check-inline">
                                          <label class="form-check-label">
                                              <input class="form-check-input" type="checkbox" ng-checked="{{user.visitee}}" disabled="true"><small>Visitee</small></label>
                                      </div>
                                      <div class="form-check-inline">
                                          <label class="form-check-label">
                                              <input class="form-check-input" type="checkbox" ng-checked="{{user.admin}}" disabled="true"><small>Admin</small></label>
                                      </div>
                                  </div>
                                <p>
                                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{user.id}}adminCollapse" aria-expanded="false" aria-controls="{{user.id}}adminCollapse">
                                        Teams
                                    </button>
                                    <button class="btn btn-success pull-xs-right" ng-click="editUserModal(user)">
                                        Edit User
                                    </button>
                                </p>
                            </p>
                            <div class="collapse" id="{{user.id}}adminCollapse">
                                <div class="card card-block">
                                    <ul>
                                        <li ng-repeat="team in teams"><small>{{team.team_name}}</small></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>
